.header {
  color: #fff;
  line-height: 20px;
  padding: 30px 40px;
  background-color: #222;
  height: 82px;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header-inner {

}

.header-logo {
  position: absolute;
}

.header-logo a {
  position: relative;
  line-height: 1em;
  display: inline-block;
  margin: -0.6em 3em -0.4em 0;
  font-weight: 600;
  font-size: 1.8em;
  top: 4px;
}

.header-login, .header-logged {
  text-align: right;
}

.header-logged {
  position: absolute;
  right: 0;
}

.header-logged a {
  margin-left: 25px;
}
.header-logged a.active {
  border-bottom: 1px solid;
}

.header-logged a .avatar {
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: -20px 0 -20px 20px;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: box-shadow .2s ease-in-out;
  -o-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
}

.header-logged a .avatar img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-search {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  z-index: 2;
}

.header-search i {
  position: absolute;
  z-index: 1;
  color: #333;
  margin: 4px 7px;
}

.header-search input {
  border: none;
  border-radius: 21px;
  padding: 8px 8px 8px 25px;
  position: absolute;
  margin-top: -5px;
  color: black;
  opacity: .8;
  transition: .3s;
  width: 150px;
}

.header-search input:focus,
.header-search input.active {
  opacity: 1;
  width: 200px;
}

.sign-out {
  margin-left: 15px;
  cursor: pointer;
  font-size: 18px;
}

.toggle-sidebar {
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 20px;
}