.page-content {
  padding: 15px;
}

.page-nav {
  width: 100%;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.page-nav-inner {

}

ul.page-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.page-nav__list>li {
  display: inline-block;
}

ul.page-nav__list>li.active>a {
  border-bottom-color: #02a8f5;
  color: #02a8f5;
  z-index: 2;
}

ul.page-nav__list>li>a {
  margin-bottom: -1px;
  border-bottom: 2px solid transparent;
  -webkit-box-shadow: -1px 0 0 0 #ddd inset;
  box-shadow: -1px 0 0 0 #ddd inset;
  padding: 27px 40px 25px;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  display: block;
}

.page-nav__actions {
  position: absolute;
  right: 0;
  margin: 22px 40px;
  top: 0;
}

.request-row {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  display: block;
  color: #333;
}
.request-row.unreaded {
  font-weight: bold;
}

.request-row:hover {
  background: #f7f7f7;
}

.request-col {
  float: left;
  padding: 10px 15px;
}

.request-title {
  width: 45%;
}

.request-date {
  width: 15%;
}
.request-category {
  width: 20%;
}
.request-status {
  width: 10%;
}

.request-count {
  width: 10%;
  padding: 10px 0;
  color: #a7a7a7;
}
.request-count i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.request-row.unreaded .request-count {
  color: #4CAF50;
}