.request-form {
  max-width: 700px;
  margin: 25px auto;
}

.request-message__content {
  white-space: pre-wrap;
  margin-top: 10px;
}

.request-page {
  max-width: 800px;
  margin: auto;
  padding: 25px;
}
.request-messages {

}
.request-message:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.request-message__user {
  float: left;
}

.request-message__date {
  float: right;
  color: #666;
}

.request-message__user img {
  margin-right: 5px;
}
.request-message__user * {
  vertical-align: middle;
}

.request-message-status {
  margin-left: 10px;
  line-height: 29px;
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
}

.request-message {
  padding: 10px 0;
}
.request-count {
  visibility: hidden;
}

.request-row.unreaded .request-count {
  visibility: visible;
}

.request-splitter {
  display: none;
}