.request-form {
  max-width: 700px;
  margin: 25px auto;
}

.status {
  display: inline-block;
  padding: 2px 5px;
  background: #eee;
}

.status-opened {
  background: #2196F3;
  color: white;
}

.status-closed {
  background: #F44336;
  color: white;
}

.request-message__content {
  white-space: pre-wrap;
}

.request-page {
  width: 800px;
  margin: 25px auto;
}
.request-messages {

}
.request-message:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.request-message__content {}
.request-message__user {}
.request-message__date {}
.request-actions {}
.request-actions .ta-scroll-window > .ta-bind {
    min-height: 100px;
}
.request-actions .ta-editor {
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin-bottom: 10px;
}

.request-message__user {
  float: left;
}

.request-message__date {
  float: right;
  color: #666;
}

.request-message__user img {
  margin-right: 5px;
}
.request-message__user * {
  vertical-align: middle;
}

.request-status {
  margin-left: 10px;
  line-height: 29px;
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
}