.user-page {
  padding: 25px;
  margin: auto;
  max-width: 800px;
}

.user-col {
  width: calc(50% - 100px);
  float: left;
  margin-right: 25px;
}

.user-col:last-child {
  margin-right: 0;
}

.user-avatar-col {
  width: 150px;
}

.user-avatar img {
  width: 150px;
}

.user-submit {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.user-avatar-col .btn {
  width: 150px;
}