.header {
  color: #fff;
  line-height: 20px;
  padding: 30px 40px;
  background-color: #222;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header-inner {
  -ms-flex-align: stretch;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -moz-flex-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.header-logo {
  -webkit-box-flex: 10%;
  -moz-box-flex: 10%;
  -webkit-flex: 10%;
  -moz-flex: 10%;
  -ms-flex: 10%;
  flex: 10%;
}

.header-logo a {
  position: relative;
  line-height: 1em;
  display: inline-block;
  margin: -0.6em 3em -0.4em 0;
  font-weight: 600;
  font-size: 1.8em;
  top: 4px;
}

.header-login, .header-logged {
  text-align: right;
  -webkit-box-flex: 40%;
  -moz-box-flex: 40%;
  -webkit-flex: 40%;
  -moz-flex: 40%;
  -ms-flex: 40%;
  flex: 40%;
}

.header-logged a .avatar {
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: -20px 0 -20px 20px;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: box-shadow .2s ease-in-out;
  -o-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
}

.header-logged a .avatar img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.header-search {
  white-space: nowrap;
  text-align: center;
  -webkit-box-flex: 30%;
  -moz-box-flex: 30%;
  -webkit-flex: 30%;
  -moz-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
}

.header-search i {
  position: absolute;
  z-index: 1;
  color: #333;
  margin: 4px 6px;
}

.header-search input {
  border: none;
  border-radius: 21px;
  padding: 8px 8px 8px 25px;
  position: absolute;
  margin-top: -5px;
  color: black;
  opacity: .8;
  transition: .3s;
  width: 150px;
}

.header-search input:focus,
.header-search input.active {
  opacity: 1;
  width: 200px;
}
