.crossover-list {
  padding: 15px;
}
.crossover-list__item {
  margin-top: 10px;
}
.crossover-list__item a {
  color: #333;
  text-decoration: none;
}
.crossover-list__item__photo {
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #F9F9F9;
  border: 1px solid #EDEDED;
  background-size: cover !important;
  background-position: center !important;
}
.crossover-list__item__description {
  vertical-align: middle;
  display: inline-block;
  text-decoration: none !important;
}
.crossover-list__item__description a {
  margin-right: 15px;
}
.crossover-list__item__description a:hover {
  text-decoration: underline;
}