.wrapper {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-bg {
  position: absolute;
  left: 240px;
  right: 0;
  bottom: 0;
  top: 0;
  background: #F5F5F5;
  transition: .3s;
}

.page {
  position: absolute;
  top: 0;
  background: white;
  overflow: hidden;
  bottom: 0;
  box-shadow: 0 4px 5px -2px rgba(0,0,0,0.2), 0 7px 10px 1px rgba(0,0,0,0.14), 0 2px 16px 1px rgba(0,0,0,0.12);
}

.page-centered {
  width: 800px;
  margin-left: -400px;
  left: 50%;
}

.page-full {
  width: 100%;
}

.page-with-sidebar {
  left: 250px;
  right: 40px;
}

.page-sidebar {
  position: absolute;
  left: 0;
  width: 250px;
  top: 0;
  bottom: 0;
  padding: 25px 20px 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-sidebar-title {
  font-size: 20px;
  padding-left: 20px;
  border-bottom: 2px solid #F44336;
  display: inline-block;
  line-height: 22px;
  margin: 0 0 15px -20px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  background: #F8F8F8;
  left: 1px;
  right: 0;
  border-top: 1px solid #E3E3E3;
  z-index: 1;
}

.page-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page-with-footer .page-content {
  bottom: 60px;
}

.page-with-search .page-content {
  top: 56px;
}

.reset-filter {
  position: absolute;
  margin-left: 70px;
  margin-top: -4px;
}

.page-scroll {
  overflow-y: auto;
}