.switcher {
  display: flex;
  width: 100%;
  overflow: visible;
  border: 1px solid #E4E4E4;
  height: 34px;
  border-radius: 3px;
  cursor: pointer;
}

.switcher-item {
  flex-grow: 3;
  height: 100%;
  color: #59595A;
  font-weight: normal;
  font-size: 13px;
  position: relative;
  padding: 16px 6px;
  text-align: center;
  background: white;
  line-height: 0;
  width: 33%;
}

.switcher-item.active {
  font-weight: 500;
  background: #F9F9F9;
}

.switcher-item.active:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -1px;
  left: 0;
  right: 0;
}

.switcher-item.active:before {
  background: #106cc8;
}

.switcher .switcher-item:not(:last-child) {
  border-right: 1px solid #E4E4E4;
}

.switcher-items:first-child {
  border-radius: 3px 0 0 3px;
}

.switcher-items:last-child {
  border-radius: 0 3px 3px 0;
}